langchain
langchain-core
streamlit
langchain-groq
streamlit-chat
python-dotenv
PyPDF2 
fpdf 
sentence-transformers 
faiss-cpu
langchain-community
langchain-huggingface
langchain_experimental
tabulate
ddgs